+++
title = "Komapper"
linkTitle = "Komapper"

+++

{{< blocks/cover title="Welcome to Komapper" image_anchor="top" height="full" color="pink" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href='{{< relref "/docs" >}}'>
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/komapper/komapper">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Make your database access simple!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Komapper is a SQL mapping library for Kotlin 1.5 and later.
Komapper provides simple and flexible database access methods.
Unlike other library, Komapper works well without reflection.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="Spring Boot support!" %}}
Komapper works out of the box in combination with Spring Boot.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/komapper/komapper" %}}
We do a [Pull Request](https://github.com/komapper/komapper/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/nakamura_to" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

